


@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;
$black: black;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: black;


// Import only what you need from Bulma

a.First {
    color: #B25500;
    &:hover {
        background-color:whitesmoke;
        color:  #0090B2;
    }
    &:active {
      color: #B25500;
    }
    background-color:white;
    border-radius: 20px;
    padding: 20px;
}

a.Second {
    color: white;
    background-color:gray;
    border-radius: 20px;
    padding: 20px;

    &:hover {
      color:  black;
    }
    &:active {
      color: #B25500;
    }


}

a.Third {

    background-color:turquoise;
    border-radius: 20px;
    padding: 20px;
    color:white;
    &:hover {
      color:  black;
    }
    &:active {
      color: #B25500;
    }
}
